version: "3"

networks:
  traefik_bridge:
    external: true
    name: traefik_bridge

services:
  node:
    build:
      context: ./
      # dockerfile: dev.Dockerfile
      dockerfile: prod.Dockerfile
    # volumes:
    #   - ./:/var/www/app
    environment:
      - HOST=0.0.0.0
      - PORT=80
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.demoNuxt.loadbalancer.server.port=80"
      - "traefik.http.routers.demoNuxt.rule=Host(`nuxt.test`)"
    networks:
      - traefik_bridge
